/* .ant-input-affix-wrapper {
  height: 6.4vh !important;
  border: none !important;
}

.ant-input-affix-wrapper:hover {
  outline: none !important;
  border: none !important;
  animation: none !important;
}

.ant-input {
  padding: 0;
  height: 4vh;
  border: none !important;
}

.ant-input:hover {
  outline: none !important;
  border: none !important;
}

.ant-input:focus {
  outline: none !important;
  border: none !important;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: transparent !important;
  box-shadow: none !important;
} */

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}