/* .ant-input-affix-wrapper {
  height: 6.4vh !important;
  border: none !important;
}

.ant-input-affix-wrapper:hover {
  outline: none !important;
  border: none !important;
  animation: none !important;
}

.ant-input {
  padding: 0;
  height: 4vh;
  border: none !important;
}

.ant-input:hover {
  outline: none !important;
  border: none !important;
}

.ant-input:focus {
  outline: none !important;
  border: none !important;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: transparent !important;
  box-shadow: none !important;
} */
