.headSearch{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 1rem;
}
.inputBtn{
    width: 60%;

}
.inputBtn input{
    width: 50%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
}
.inputBtn input:hover{
    border: 2px solid #40a9ff;
}

.inputBtn button{
    margin-left: 10px;
    width: 17%;
    height: 40px;
    background-color: #ffffff;;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #000000;
}
.inputBtn button:hover{
    border: 2px solid #40a9ff;
}
.searchBtns{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.searchBtns button{
    margin-left: 10px;
    width: 30%;
    height: 40px;
    background-color: #ffffff;;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #000000;
}
.searchBtns button:hover{
    border: 2px solid #40a9ff;
}
.ant-layout-content{
    height: 60vh;
}
a.ant-typography, .ant-typography a{
    margin-left: 5px;
}