.card {
  box-sizing: border-box;
  border-radius: 8px;
}

.ant-card {
  box-shadow: 0px 0px 19px -8px !important;
}

.cardImgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconContainer {
  position: absolute;
  top: -20px;
  left: 20px;
  background: linear-gradient(to right, #ec407a, #d81b60);
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.card hr {
  background: linear-gradient(to right, #ec407a, #d81b60) !important;
  height: 2px;
  border: none;
}

.iconContainer .innerCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
