.dash-card {
  background: #1898c5;
  background-size: 221px 115px;
}
.card {
  box-sizing: border-box;
}
.dash-card:hover {
  background: #178db7;
}
.card:hover {
  border-bottom: 2px solid #178db7;
  transition: all ease-in-out 0.2s;
}
.ant-card {
  box-shadow: 0px 0px 19px -8px !important;
  background-color: url(../../assests/images/salesg.jpg);
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.cardImgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
