.ant-layout-content{
    padding: 100px 50px 0px;
    margin: 0px;
    background-color: rgb(214, 213, 213);
    height: auto !important;
}
.headSearch{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 1rem;
}
.ant-row ant-form-item ant-form-item-with-help ant-form-item-has-error{
    row-gap: 0px;
    margin: 0px;
    width: 100px !important;
}

.inputBtn{
    width: 80%;

}
.inputBtn .input{
    width: 50% !important;
    /* height: 40px; */
    border-radius: 5px !important;
    outline: none;
    border: none;
    padding: 0px;
}
 .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
 width: 100%;
  height: 40px;
  padding: 4px 5px;
  border-radius: 5px;
    }
 .ant-input-number{
  border-radius: 5px;
}
 .ant-input-number{
 margin-left: 16px;
 }
.ant-input-number-input {
padding: 19px 12px;
text-align: left;
 background-color: transparent;
 border: 0;
 border-radius: 5px !important;
 outline: 0;
 -webkit-transition: all 0.3s linear;
 transition: all 0.3s linear;
-moz-appearance: textfield !important;
   }
   .ant-select:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
    margin: 0;
    padding: 0px;
    background: transparent;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-top: 5px  !important;
}

.inputBox{
    width: 15%;
    padding: 8px;
    margin-left: 1rem;
    border-radius: 5px;
}
.ant-input:hover{
    border: 1px solid rgba(0, 138, 252, 0.822);
}
            
.inputBtn button{
    margin-left: 10px;
    width: 17%;
    height: 40px;
    background-color: #ffffff;;
    outline: none;
    border: none;
    border-radius: 3px;
    color: #000000;
}
.searchBtns{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.searchBtns button{
    margin-left: 10px;
    width: 30%;
    height: 40px;
    background-color: #2196f3;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}
.searchBtns button:hover{
    border: 1px solid rgba(0, 138, 252, 0.822);
}
.footerBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
}
.footerBtn button{  
        width: 15%;
        background-color: #2196f3;
        border-radius: 3px;
        outline: none;
        border: none;
        height: 6vh;
        color: #ffffff;
}
.footerBtn button:hover{
    border: 1px solid rgba(0, 138, 252, 0.822);
}


