.mainContainer {
  color: #fff !important;
}
.logoDiv {
  background-color: rgb(24, 152, 197);
  padding: 12px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 100px;
  height: 65px;
  margin-top: 0.5rem;
  margin-bottom: 10px;
}
.logo img {
  width: 100%;
  height: 9vh;
}

.ant-menu-item-selected {
  color: #dbd5d250;
  background: none !important;
}
.ant-col ant-col-24 links {
  height: 42.8em;
}

.ant-layout-sider-children {
  background-image: url(../../assests/images/supermarket.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border: 3px solid #050505;
}

.sideBar .links ul {
  background-color: transparent !important;
  border: none !important;
  padding-left: 13px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8) !important;
}

.sideBar .links a {
  background: #fff !important;
  height: 40px;
  line-height: 40px;
  margin-bottom: 12px;
  align-items: center;
}

.sideBar .links a button {
  padding: 0px 60px;
  margin-top: 12px;
  border: 1px solid black;
  outline: none;
}

.sideBar .links li {
  background-color: transparent !important;
  color: #fff;
  /* padding: 0px 0px 3px 0px; */
  font-size: 14px;
  font-family: sans-serif;
  margin-right: 20px;
}
.sideBar .links li:hover {
  background-color: #b4adad7e !important;
  /* border-radius: 37px 1px 0px 36px; */
  border-radius: 10px !important;
}
.menuItems {
  font-size: 12px;
  font-weight: 500;
}
