.main-row {
  padding: 2rem 4rem;
  display: flex;
  /* justify-content: ; */
}

.roomsForm .ant-input {
  height: 3em;
  background-color: transparent !important;
  border-bottom: 1px solid gray !important;
  width: 100% !important;
  outline: none !important;
  border: none;
  border-radius: 0px !important;
}
.roomsForm .ant-input:hover {
  outline: none;
  border: none !important;
  border-bottom: 2px solid #20a8d8 !important;
}
.roomsForm .ant-form label {
  font-size: small !important;
  font-size: large;
}
.roomsForm .ant-input::placeholder {
  color: gray !important;
}
.roomsForm .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.roomsForm .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  color: gray !important;
}
.roomsForm .ant-select {
  height: 3em;
  background-color: transparent !important;
  border-bottom: 1px solid gray !important;
}
.roomsForm .ant-input:focus,
.roomsForm.ant-input-focused {
  outline: none !important;
}
.roomsForm .ant-input:focus,
.roomsForm .ant-input-focused {
  border: none !important;
  border-right-width: none !important;
  outline: 0 !important;
  -webkit-box-shadow: #fff !important;
  box-shadow: #fff !important;
}
.roomsForm .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: transparent !important;
}
.roomsForm .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border: none !important;
}
.roomsForm .ant-select:not(.ant-select-disabled) .ant-select-selector {
  border: none !important;
}
.ant-select:not(.ant-select-disabled):focus .ant-select-selector {
  border: none;
}
.roomsForm .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border: none !important;
}
.roomsForm .ant-select-selector {
  border: 2px solid #ffffffbd !important;
  border-radius: 5px !important;
  height: 42px !important;
}
.roomsForm .ant-input-number-input {
  background-color: #d6d5d5 !important;
  border: 1px solid #fff !important;
}

.roomsForm .ant-btn-primary {
  width: 100% !important;
}

.roomsForm .ant-input-group > .ant-input:last-child,
.roomsForm .ant-input-group-addon:last-child {
  margin: 0;
}
